.clickable {
  cursor: pointer;
  color: red;
}

.clickable:hover {
  text-decoration: underline;
}

.js-showing {
  display : none;
}

.clickable2 {
  cursor: pointer;
  color: rgb(160, 92, 92);
}

.clickable2:hover {
  text-decoration: underline;
}

.oper-showing {
  display : none;
}

.clickable3 {
  cursor: pointer;
  color: blue;
}

.clickable3:hover {
  text-decoration: underline;
}

.var-showing {
  display: none;
}

.clickable4 {
  cursor: pointer;
  color: red;
}

.clickable4:hover {
  text-decoration: underline;
}

.var-name-con-showing {
  display: none;
}

.clickable5 {
  cursor: pointer;
  color: blue;
}

.clickable5:hover {
  text-decoration: underline;
}

.function-showing{
  display: none;
}

.clickable6 {
  cursor: pointer;
  color: rebeccapurple;
}

.clickable6:hover {
  text-decoration: underline;
}

.methods-showing {
  display: none;
}

.clickable7 {
  cursor: pointer;
  color: blue;
}

.clickable7:hover {
  text-decoration: underline;
}

.arguments-showing {
  display: none;
}

.clickable8 {
  cursor: pointer;
  color: blue;
}

.clickable8:hover {
  text-decoration: underline;
}

.parameters-showing {
  display: none;
}

.clickable9 {
  cursor: pointer;
  color: blue;
}

.clickable9:hover {
  text-decoration: underline;
}

.return-showing {
  display: none;
}

.clickable10 {
  cursor: pointer;
  color: blue;
}

.clickable10:hover {
  text-decoration: underline;
}

.Chain-showing {
  display: none;
}